.features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list {
  display: flex;
}

.features-list__item {
  min-width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list__icon-box {
  @include flex-center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bgncolor);
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__subtitle {
  margin-bottom: 10px;

  @include font(700, 14px, 16px, 0.03em);
  text-transform: uppercase;
}

.features-list__description {
  color: var(--secondary-text-color);

  @include font(400, 14px, 24px, 0.03em);
}
