/* ------------------------PORTFOLIO---------------------- */
.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter-list__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:first-child {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 768px) {
    &:first-child {
      margin-bottom: unset;
    }
  }
}
