.footer {
  background-color: $primary-bgncolor;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address-box {
  margin-right: 70px;
}

.footer-address {
  width: 231px;
}

.address-list__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-list__link {
  color: var(--footer-text-color);

  @include font(400, 14px, 24px, 0.03em);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.address-list__link-map {
  color: var(--secondary-accent-text-color);
}

// присоединяйтесь
.footer-case {
  margin-right: 93px;
}

.footer-description {
  display: block;
  margin-bottom: 20px;

  color: var(--secondary-accent-text-color);

  @include font(700, 14px, 16px, 0.03em);
  text-transform: uppercase;
}

// подпишись на рассылку
.subscribe-form {
  display: inline-flex;
  align-items: center;
}

.subscribe-form__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  @include font(400, 16px, 20px, 0.03em);

  color: var(--secondary-accent-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    color: var(--footer-text-color);
  }
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;

  // .footer-btn:hover & {
  //   fill: $primary-bgncolor;
  // }
}
