/* ========================HEADER======================== */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;

  background-color: var(--secondary-accent-text-color);
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--logo-text-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-list {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-text-color);
}

.active {
  color: var(--accent-text-color);
}

.active::after {
  position: absolute;
  bottom: 0;

  content: '';

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-text-color);

  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-item:not(:last-child) {
  margin-right: 30px;
}

.contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

.contacts-icon-mail,
.contacts-icon-tel {
  fill: currentColor;
  margin-right: 10px;
}
/* ======================END HEADER====================== */
