/* ========================HERO======================== */
.hero-bgi {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-color: #c4c4c4;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  height: 600px;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin: 0 auto 30px;
  width: 696px;

  color: var(--secondary-accent-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ======================END HERO====================== */
