.logo {
  font-family: 'Raleway', sans-serif;
  @include font(700, 26px, 31px, 0.03em);

  &_dark-theme {
    color: var(--logo-text-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &_light-theme {
    display: block;
    margin-bottom: 20px;

    color: var(--secondary-accent-text-color);
  }

  &__acent {
    color: var(--accent-text-color);
  }
}
